@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
/* Fuente general: Roboto*/
* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
/* Boton de Cambio de Tema a Oscuro o Claro */
.temasDarkLigth {
  min-width: fit-content;
}

footer {
  box-shadow: 2px 5px 19px rgba(0, 0, 0, 0.495);
}

.linkSolo {
  text-decoration: none;
  color: grey;
}
.linkSolo:hover {
  color: rgb(238, 209, 19);
}

.container {
  margin-top: 89px;
}
.row {
  color: black;
  margin-left: 10px;
}

.nosotros{
  min-height: 100vh;
  background-image: url(../img/);
  no-repeat center center fixed;
  background-size: cover;

}
.borderojoquienessomos {
  border: grey solid 5px;
}
.quienesSomos {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin: 10% auto;
  border: auto;
  padding: 7p 0px;
  object-fit: cover;
}
.h1{
  color: white;
  background: black;
}


/* Media Query para Dispositivos PEQUEÑOS */

@media (max-width: 640px) {
  footer {
    font-size: small;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
  }
}
