@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

/* Fuente general: Roboto*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  

header {
  font-family: "Roboto Condensed", sans-serif;
  
}



main {
  font-family: 'Rubik Distressed', cursive;
  color: #fff;
  background-color: rgb(39, 39, 39);
}

.error {
  width: 100%;
  margin: 0 auto;
  padding: 40px 40px;
  text-align: center;
  object-fit: cover;
}

h1 {
  font-size: 90px;
  color: #8a8a8a;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #8a8a8a;
  margin-bottom: 40px;
}

p a {
  display: inline-block;
  padding: 12px 24px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: grey;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

p a:hover {
  background-color: #222;
}
footer {
    box-shadow: 2px 5px 19px rgba(0, 0, 0, 0.495);
    font-family: "Roboto Condensed", sans-serif;
  }

  .linkSolo {
    text-decoration: none;
    color: grey;
  }
  
  .linkSolo:hover {
    color: rgb(238, 209, 19);
  }
  .icons:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .secFoot{
    overflow-x: hidden;
  }
  
  @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
  }
  @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
  }